body {
  overflow-x: hidden;
}
#loginBox {
  border: solid 1px #f8f8f8;
  margin-top: 5vh;
  padding: 1vw;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
#menuContainer {
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #f8f8f8;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  min-height: 100vh;
}
.cursor {
  cursor: pointer !important;
}
.addBox {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  background-color: #f8f8f8;
  border: solid 1px #000000;
}
.time {
  width: 70px !important;
}
